<!-- resources/templates/profile.html -->
<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benutzerprofil</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Optional: dein CSS -->
</head>
<body>
<h1 th:text ="${user.username}">Willkommen,!</h1>
<p>Hier sind Ihre Profilinformationen:</p>
<!-- Hier kannst du weitere Benutzerinformationen hinzufügen -->
</body>
</html>
