<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            text-align: center;
            margin-top: 50px;
        }
        h1 {
            color: #333;
        }
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            display: inline-block;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>USER OHNE ADMIN-RECHTE</h1>
    <p>Schön, dass Sie hier sind. Wir wünschen Ihnen einen angenehmen Aufenthalt.</p>
</div>

<!-- Beispiel in user.html -->
<a href="/profile">Mein Profil</a>

</body>
</html>
