<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Admin-Dashboard</title>
    <style>
        /* ... dein bestehendes CSS */

        .content {
            display: flex;
            flex-wrap: wrap;
        }

        .left-column {
            flex: 1;
            padding: 20px;
        }

        .right-column {
            color: white;
            background-color: black;
            flex: 5;
            padding: 20px;
            height: 85vh; /* Nimmt 85% der Viewport-Höhe ein */
        }
    </style>
</head>
<body>
<div class="sidebar">
</div>

<div class="content">
    <div class="left-column">
        <h1><a th:href="@{/user/user2}">User-Seite 2</a></h1>
        <h1><a th:href="@{/user/journal}">Journal-Einträge</a></h1>
        <h1><a th:href="@{/admin/dashboard}">Admin-Seite 1</a></h1>
        <h1><a th:href="@{/admin/admin2}">Admin-Seite 2</a></h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout">
        </form>
        <img th:src="@{/images/logo.png}" alt="Mein Bild">
    </div>
    <div class="right-column">
        <h2>Willkommen auf deinem Dashboard!</h2>
        <h1>Hallo, <span th:text="${benutzername}">User</span>!</h1>
        <p>Hier kannst du später deine Inhalte hinzufügen.</p>
    </div>
</div>
</body>
</html>
